{
    "extends": "@istanbuljs/nyc-config-typescript",
    "reporter": ["lcov", "text"],
    "exclude": [
        "**/*.spec.js",
        "**/test/**/*",
        "**/*.d.ts",
        "**/*.js.map",
        ".prettierrc.js",
        "test.js",
        "mocks/",
        "**/run.ts",
        "**/init.ts",
        "**/index.ts",
        "**/environment.js",
        "**/environment.ts",
        "**/inversify.config.js",
        "**/inversify.config.ts",
        "**/models/",
        "**/utils/",
        "coverage/**"
    ],
    "lines": 85,
    "statements": 85,
    "temp-dir": "coverage/.nyc_output",
    "all": true,
    "check-coverage": true
}
